<h1>About LacerMrkt</h1>
<p>LacerMrkt is a place for our customers to buy, sell and exchange their preloved clothing, shoes and accessories. Our concept was developed around sustainability, affordability and waste reduction, with the intention to engage with customers and encourage them to make ethical and sustainable fashion choices.

With multiple digital locations now on facebbok, Instagram and Pinterest, as well as our market.lacerba.fg website, SWOP’s ever-growing network aims to disrupt the wasteful practices of the current fashion industry at large by offering an alternative...</p>
