<%# Header %>
<h1>LacerMrkt</h1>
<h2>Buy, sell & exchange secondhand goodies</h2>

	<%= link_to "SHOP NOW", root_path %>

<%# Plus: why you should choose us %>
<p>
	<%= link_to "Plus1", root_path %>
	<%= link_to "Plus2", root_path %>
	<%= link_to "Plus3", root_path %>
</p>
<%# Footer %>
